BASE_URL=https://dev.bluevalorisportage.com
FREELANCER_EMAIL=freelancer@bluevaloris.test
FREELANCER_PASSWORD=Freelance123!
CLIENT_EMAIL=client@bluevaloris.test
CLIENT_PASSWORD=Client123!
ADMIN_EMAIL=admin@bluevaloris.test
ADMIN_PASSWORD=Admin123!

NEW_FREELANCER_EMAIL=test.freelance@test.test
NEW_FREELANCER_PASSWORD=TestPassword123!
NEW_PROJECT_NAME=Test_Project
NEW_CLIENT_EMAIL=test.client@test.test
MISSION_TITLE=Test_Mission
MISSION_AMOUNT=500

STRIPE_CARD=4242424242424242
STRIPE_EXPIRY=1225
STRIPE_CVC=123

WAIT_TIMEOUT=60000
LOGIN_TIMEOUT=30000
